[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cxxfunplus"]
	path = cxxfunplus
	url = https://github.com/maverickg/cxxfunplus
	subdir = cxxfunplus
